<%@ Master Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="NestedMasterPage1.master.cs" Inherits="master.NestedMasterPage1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header" runat="server">
    <p>Segunda Pagina</p>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
</asp:Content>
